/doc/
/lib
/libs/
/.crystal/
/.shards/


# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

# compiled binaries don't need to be checked in
/tumblr